
<div class="page-content fade-in-up" >
    <div class="col-md-8 offset-md-2">
        <div class="ibox ibox-body">

            <div class="ibox-head">
                <div class="ibox-title">{{l("Registrar nuevo país")}}</div>
            </div>

            <div #content>
                <form class="form-horizontal" #paisForm="ngForm" method="post" novalidate (ngSubmit)="save(paisForm)">
                    <div class="ibox-body">   

                        <div [ngClass]="(identificador.invalid && identificador.touched)?'col-sm-6 form-group has-error mb-4':'col-sm-6 form-group mb-4'">                        
                            <label>{{l("Identificador")}}<span class="text-danger"> *</span></label>
                                <span *ngIf = "identificador.invalid && identificador.touched" class="input-icon input-icon-right text-danger"></span>                                
                                <input 
                                    id="identificador" 
                                    class="form-control no-shadow" 
                                    type="text" 
                                    #identificador = "ngModel"
                                    [(ngModel)]="pais.identificador" 
                                    name="Identificador" 
                                    required
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Identificador"/>
                                    <app-input-validation [input]="identificador"></app-input-validation>
                        </div>

                        <div [ngClass]="(nombre.invalid && nombre.touched)?'col-sm-12 form-group has-error mb-4':'col-sm-12 form-group mb-4'">
                            <label>{{l("Nombre")}}<span class="text-danger"> *</span> </label>
                                <span *ngIf="nombre.invalid && nombre.touched" class="input-icon input-icon-right text-danger"></span>
                                <input 
                                    id="nombre" 
                                    class="form-control no-shadow" 
                                    type="text"
                                    #nombre = "ngModel" 
                                    [(ngModel)]="pais.nombre" 
                                    name="Nombre" 
                                    required
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Nombre"/>
                                    <app-input-validation [input]="nombre"></app-input-validation>
                        </div>

                        <div class="ibox-footer row">
                            <div class="col-sm-12 ml-sm-auto">
                                <button type="submit" class="btn btn-primary mr-2">{{l("Registrar")}}</button>
                                <button [disabled]="saving" [routerLink]="['../../pais']" type="button" class="btn btn-secondary">{{l("Atras")}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
