<!-- <div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{l('Users')}}
                </h2>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block()" (click)="refresh();"><i class="material-icons">refresh</i> {{l('Refresh')}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{{l('UserName')}}</th>
                            <th>{{l('FullName')}}</th>
                            <th>{{l('EmailAddress')}}</th>
                            <th>
                                <div style="text-align:center">{{l('IsActive')}}</div>
                            </th>
                            <th>{{l('Actions')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                            <td>{{user.userName}}</td>
                            <td>{{user.fullName}}</td>
                            <td>{{user.emailAddress}}</td>
                            <td align="center">
                                <i class="material-icons" *ngIf="user.isActive" style="color:green;">check_box</i>
                                <i class="material-icons" *ngIf="!user.isActive" style="color:red;">indeterminate_check_box</i>
                            </td>
                            <td class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="editUser(user)"><i class="material-icons">create</i>{{l('Edit')}}</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="delete(user)"><i class="material-icons">delete_sweep</i>{{l('Delete')}}</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <div class="text-align: center;" *ngIf="totalItems > pageSize">
                    <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
                </div>
                <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="createUser()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<create-user-modal #createUserModal (modalSave)="refresh()"></create-user-modal>
<edit-user-modal #editUserModal (modalSave)="refresh()"></edit-user-modal> -->


<div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-body">
                <div class="flexbox mb-4">
                    <div class="flexbox">
                        <h5 class="font-strong mb-4">LISTADO DE USUARIOS</h5>
                    </div>
                    <div class="flexbox">
                        <div class="input-group-icon input-group-icon-left mr-3">
                            <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                            <input #searchBox class="form-control form-control-rounded form-control-solid no-shadow" id="key-search" (input)="searchData(searchBox.value)" type="text" placeholder="Buscar...">
                        </div>
                        <button class="btn btn-primary btn-md btn-rounded btn-icon" (click)="createUser()" >
                            <span class="btn-icon">
                                <li class="la la-plus"></li>
                                Agregar nuevo
                            </span>
                        </button>
                    </div>
                </div>
    
                <ngx-datatable
                    class="bootstrap"
                    [columnMode]="ngxDatatableHelper.columnMode"
                    [headerHeight]="ngxDatatableHelper.headerHeight"
                    [footerHeight]="ngxDatatableHelper.footerHeight"
                    [rowHeight]="ngxDatatableHelper.rowHeight"
                    [selected]="selected"
                    [rows]="users" 
                    [selectionType]="ngxDatatableHelper.selectionType"
                    [selectAllRowsOnPage]="ngxDatatableHelper.selectAllRowsOnPage"
                    [reorderable]="ngxDatatableHelper.reorderable"
                    [externalPaging]="ngxDatatableHelper.externalPaging"
                    [externalSorting]="ngxDatatableHelper.externalSorting"
                    [count]= "(filter==='')? totalItems: totalCount"
                    [offset]="0"
                    [messages]="ngxDatatableHelper.ngxDatatableMesagges"
                    [limit]="pageSize"
                    (sort)= 'onSort($event)'
                    (page)='onPageChange($event)'
                    (select)='onSelect($event)'>
                    
                    <ngx-datatable-column 
                        [width]="150"
                        name="Nombre de usuario" 
                        prop="userName">
                    </ngx-datatable-column>
                    
                    <ngx-datatable-column 
                        [width]="150"
                        name="Nombre completo" 
                        prop="fullName">
                    </ngx-datatable-column>
                    
                    <ngx-datatable-column 
                        [width]="150"
                        name="Email" 
                        prop="emailAddress">
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        [width]="130"
                        [sortable]="false"
                        [canAutoResize]="false"
                        [draggable]="false"
                        [resizeable]="false"
                        [headerClass]="'text-center'"
                        name="Estado"
                        prop="isActive">
    
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">
                                <span *ngIf="row.isActive" class="badge badge-success badge-pill">Activo</span>
                                <span *ngIf="!row.isActive" class="badge badge-danger badge-pill">Inactivo</span>
                            </div>
                        </ng-template>

                    </ngx-datatable-column>


                    <ngx-datatable-column  [width]="50" >
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">
                                <a [routerLink] = "['edit-user', row.id]" class="text-light mr-3 font-16" href="javascript:;"><i class="ti-pencil"></i></a>
                                <a class="text-light font-16" href="javascript:;"><i (click)="delete(row)" class="ti-trash"></i></a>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            <app-table-items-delete (onClickEvent)="deleteMultipleUsers()" [selectedCount]="selectedCount"></app-table-items-delete>
        </div>
    </div>
</div>