<!-- <div bsModal #editRoleModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="edidtRoleModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #editRoleForm="ngForm" id="frm_edit_role" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("EditRole")}} <span *ngIf="model.role.isStatic"> (<span style="color:red">static</span>)</span></span>
                    </h4>
                </div>
                <div class="modal-body">

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="rolename" [disabled]="model.role.isStatic" type="text" name="RoleName" [(ngModel)]="model.role.name" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="rolename" class="form-label">{{l("RoleName")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="displayname" type="text" name="DisplayName" [(ngModel)]="model.role.displayName" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="displayname" class="form-label">{{l("DisplayName")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <textarea id="role-description" name="Description" [(ngModel)]="model.role.description" class="validate form-control"></textarea>
                                    <label for="role-description" class="form-label">Role Description</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <h4>Permissions</h4>

                            <ng-template ngFor let-permission [ngForOf]="model.permissions" let-permissionIndex="index">
                                <div class="col-sm-6">
                                    <input [disabled]="model.role.isStatic" type="checkbox" name="permission" value="{{permission.name}}" class="filled-in" id="permission-{{permissionIndex}}" checked="{{checkPermission(permission.name)}}" />
                                    <label for="permission-{{permissionIndex}}">{{permission.displayName}}</label>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button [disabled]="!editRoleForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                        {{l("Save")}}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div> -->


<div class="page-heading">
    <h1 class="page-title">Mantenimiento de roles</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:;" (click)="goBack()"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Seguridad</li>
        <li class="breadcrumb-item">Roles</li>
    </ol>
</div>
<div class="page-content fade-in-up" >
    <div class="col-md-12">
        <div class="ibox ibox-body">

            <div class="ibox-head">
                <div class="ibox-title">{{l("Editar rol")}}</div>
            </div>

            <div #content>
                <form class="form-horizontal" #editRoleForm="ngForm" method="post" novalidate (ngSubmit)="save(editRoleForm)">
                    <div class="ibox-body">   
                        
                        <div [ngClass]="(roleName.invalid && roleName.touched)?'form-group has-error mb-4 row':'form-group mb-4 row'">
                            <label class="col-sm-2 col-form-label">{{l("Nombre")}}</label>
                            <div class="col-sm-10">
                                <span *ngIf = "roleName.invalid && roleName.touched" class="input-icon input-icon-right text-danger"></span>
                                <input 
                                    id="rolename" 
                                    class="form-control no-shadow" 
                                    type="text"
                                    [disabled]="model.role.isStatic"
                                    #roleName = "ngModel" 
                                    [(ngModel)]="model.role.name" 
                                    name="RoleName" 
                                    required
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Nombre"/>
                                    <app-input-validation [input]="roleName"></app-input-validation>
                            </div>
                        </div>

                        <div [ngClass]="(displayName.invalid && displayName.touched)?'form-group has-error mb-4 row':'form-group mb-4 row'">                        
                            <label class="col-sm-2 col-form-label">{{l("Nombre a mostrar")}}</label>
                            <div class="col-sm-10">

                                <span *ngIf = "displayName.invalid && displayName.touched" class="input-icon input-icon-right text-danger"></span>                                
                                <input 
                                    id="diaplayname" 
                                    class="form-control no-shadow" 
                                    type="text" 
                                    #displayName = "ngModel"
                                    [(ngModel)]="model.role.displayName" 
                                    name="DisplayName" 
                                    required
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Nombre a mostrar"/>
                                    <app-input-validation [input]="displayName"></app-input-validation>
                            </div>
                        </div>


                        <div [ngClass]="(description.invalid && description.touched)?'form-group has-error mb-4 row':'form-group mb-4 row'">                        
                            <label class="col-sm-2 col-form-label">{{l("Descripción")}}</label>
                            <div class="col-sm-10">
                                
                                <span *ngIf = "description.invalid && description.touched" class="input-icon input-icon-right text-danger"></span>                                                                
                                <textarea 
                                    id="role-description" 
                                    class="form-control no-shadow"  
                                    type="text"
                                    #description = "ngModel"
                                    [(ngModel)]="model.role.description" 
                                    name="Description" 
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Descripción"> </textarea>
                                    <app-input-validation [input]="description"></app-input-validation>

                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <h4>Permisos</h4>
                                <ng-template ngFor let-permission [ngForOf]="model.permissions" let-permissionIndex="index">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="checkbox checkbox-primary" for="permission-{{permissionIndex}}">
                                                <input
                                                    [disabled]="model.role.isStatic" 
                                                    type="checkbox" 
                                                    name="permission"
                                                    value="{{permission.name}}" 
                                                    id="permission-{{permissionIndex}}" 
                                                    checked="{{checkPermission(permission.name)}}"/>
                                                    <span class="input-span"></span>{{permission.displayName}}
                                                </label>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        
                        <div class="ibox-footer row">
                            <div class="col-sm-12 ml-sm-auto">
                                <button type="submit" class="btn btn-primary mr-2">{{l("Registrar")}}</button>
                                <button [disabled]="saving" [routerLink]="['../../../roles']" type="button" class="btn btn-secondary">{{l("Atras")}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
