<div class="page-wrapper">
  <!-- START HEADER-->
  <app-top-header></app-top-header>
  <!-- END HEADER-->

  <!-- START SIDEBAR-->
  <app-side-bar></app-side-bar>
  
  <!-- <app-layout-settings></app-layout-settings> -->

  <!-- SCROLL TOP -->
  <!-- <div class="to-top"><i class="fa fa-angle-double-up"></i></div> -->
  <!-- END SCROLL TOP -->



  <div class="content-wrapper">

    <!-- START PAGE CONTENT-->
    <div class="page-content fade-in-up">

      <router-outlet></router-outlet>

    </div>
    <!-- END PAGE CONTENT-->

    <!-- START FOOTER -->
    <app-footer></app-footer>
    <!-- END FOOTER -->
  </div>
</div>


<!-- QUICK SIDEBAR-->
<app-quick-sidebar></app-quick-sidebar>
<!-- END QUICK SIDEBAR-->

<!-- BEGIN THEME CONFIG PANEL -->
<!-- <app-layout-settings></app-layout-settings> -->
<!-- END THEME CONFIG PANEL -->
