<div class="page-heading">
    <h1 class="page-title">Mantenimiento de roles</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:;" (click)="goBack()"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Seguridad</li>
        <li class="breadcrumb-item">Roles</li>
    </ol>
</div>
<div class="page-content fade-in-up" >
    <div class="col-md-12">
        <div class="ibox ibox-body">

            <div class="ibox-head">
                <div class="ibox-title">{{l("Registrar nuevo rol")}}</div>
            </div>

            <div #content>
                <form class="form-horizontal" #roleForm="ngForm" method="post" novalidate (ngSubmit)="save(roleForm)">
                    <div class="ibox-body">   
                        
                        <div [ngClass]="(roleName.invalid && roleName.touched)?'form-group has-error mb-4 row':'form-group mb-4 row'">
                            <label class="col-sm-2 col-form-label">{{l("Nombre")}}</label>
                            <div class="col-sm-10">
                                <span *ngIf = "roleName.invalid && roleName.touched" class="input-icon input-icon-right text-danger"></span>
                                <input 
                                    id="rolename" 
                                    class="form-control no-shadow" 
                                    type="text"
                                    #roleName = "ngModel" 
                                    [(ngModel)]="role.name" 
                                    name="RoleName" 
                                    required
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Nombre"/>
                                    <app-input-validation [input]="roleName"></app-input-validation>
                            </div>
                        </div>

                        <div [ngClass]="(displayName.invalid && displayName.touched)?'form-group has-error mb-4 row':'form-group mb-4 row'">                        
                            <label class="col-sm-2 col-form-label">{{l("Nombre a mostrar")}}</label>
                            <div class="col-sm-10">

                                <span *ngIf = "displayName.invalid && displayName.touched" class="input-icon input-icon-right text-danger"></span>                                
                                <input 
                                    id="diaplayname" 
                                    class="form-control no-shadow" 
                                    type="text" 
                                    #displayName = "ngModel"
                                    [(ngModel)]="role.displayName" 
                                    name="DisplayName" 
                                    required
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Nombre a mostrar"/>
                                    <app-input-validation [input]="displayName"></app-input-validation>
                            </div>
                        </div>


                        <div [ngClass]="(description.invalid && description.touched)?'form-group has-error mb-4 row':'form-group mb-4 row'">                        
                            <label class="col-sm-2 col-form-label">{{l("Descripción")}}</label>
                            <div class="col-sm-10">
                                
                                <span *ngIf = "description.invalid && description.touched" class="input-icon input-icon-right text-danger"></span>                                                                
                                <textarea 
                                    id="role-description" 
                                    class="form-control no-shadow"  
                                    type="text"
                                    #description = "ngModel"
                                    [(ngModel)]="role.description" 
                                    name="Description" 
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Descripción"> </textarea>
                                    <app-input-validation [input]="description"></app-input-validation>

                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <h4>Permisos</h4>
                                <ng-template ngFor let-permission [ngForOf]="permissions.items" let-permissionIndex="index">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="checkbox checkbox-primary" for="permission-{{permissionIndex}}">
                                                <input 
                                                    type="checkbox" 
                                                    name="permission"
                                                    value="{{permission.name}}" 
                                                    id="permission-{{permissionIndex}}" 
                                                    checked="checked"/>
                                                    <span class="input-span"></span>{{permission.displayName}}
                                            </label>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        
                        <div class="ibox-footer row">
                            <div class="col-sm-12 ml-sm-auto">
                                <button type="submit" class="btn btn-primary mr-2">{{l("Registrar")}}</button>
                                <button [disabled]="saving" [routerLink]="['../../roles']" type="button" class="btn btn-secondary">{{l("Atras")}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
