<div class="page-sidebar" id="sidebar">
  <div id="sidebar-collapse">
    <ul class="side-menu metismenu">
      <li routerLinkActive="active">
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-view-grid"></i>
          <span class="nav-label">Dashboards</span>
          <i class="fa fa-angle-left arrow"></i>
        </a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
          <li>
            <a routerLinkActive="active" routerLink="/index">Visitors</a>
          </li>
          <li>
            <a routerLink="/ecommerce/dashboard" routerLinkActive="active">Shop</a>
          </li>
          <li>
            <a routerLink="/dashboard_blog" routerLinkActive="active">Blog</a>
          </li>
          <li>
            <a routerLink="/dashboard_4" routerLinkActive="active">Dashboard v4</a>
          </li>
          <li>
            <a routerLink="/dashboard_5" routerLinkActive="active">Dashboard v5</a>
          </li>
          <li>
            <a routerLink="/dashboard_6" routerLinkActive="active">Dashboard v6</a>
          </li>
          <li>
            <a routerLink="/dashboard_7" routerLinkActive="active">Dashboard v7</a>
          </li>
        </ul>
      </li>
      <li class="heading">FEATURES</li>
      <li routerLinkActive="active">
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-paint-roller"></i>
          <span class="nav-label">Basic UI</span>
          <i class="fa fa-angle-left arrow"></i>
        </a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
          <li>
            <a routerLink="/ui/colors" routerLinkActive="active">Colors</a>
          </li>
          <li>
            <a routerLink="/ui/typography" routerLinkActive="active">Typography</a>
          </li>
          <li>
            <a routerLink="/ui/panels" routerLinkActive="active">Panels</a>
          </li>
          <li routerLinkActive="active">
            <a href="href=&quot;javascript:;&quot;">
              <span class="nav-label">Tabs</span>
              <i class="fa fa-angle-left arrow"></i>
            </a>
            <ul class="nav-3-level collapse" routerLinkActive="in">
              <li>
                <a routerLink="/ui/tabs-pill" routerLinkActive="active">Pills</a>
              </li>
              <li>
                <a routerLink="/ui/tabs-line" routerLinkActive="active">Line tabs</a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/ui/alerts" routerLinkActive="active">Alerts</a>
          </li>
          <li>
            <a routerLink="/ui/toastr" routerLinkActive="active">Toastr Notifications</a>
          </li>
          <li>
            <a routerLink="/ui/tooltip_popover" routerLinkActive="active">Tooltip &amp; Popover</a>
          </li>
          <li>
            <a routerLink="/ui/badges_progress" routerLinkActive="active">Badges &amp; Progress</a>
          </li>
          <li>
            <a routerLink="/ui/lists" routerLinkActive="active">List</a>
          </li>
          <li>
            <a routerLink="/ui/idle-timer" routerLinkActive="active">Idle timer</a>
          </li>
          <li>
            <a routerLink="/ui/clipboard" routerLinkActive="active">Clipboard</a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-heart"></i>
          <span class="nav-label">Buttons</span>
          <i class="fa fa-angle-left arrow"></i>
        </a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
          <li routerLinkActive="active">
            <a href="href=&quot;javascript:;&quot;">
              <span class="nav-label">Base Buttons</span>
              <i class="fa fa-angle-left arrow"></i>
            </a>
            <ul class="nav-3-level collapse" routerLinkActive="in">
              <li>
                <a routerLink="/buttons/buttons-default" routerLinkActive="active">Default style</a>
              </li>
              <li>
                <a routerLink="/buttons/buttons-rounded" routerLinkActive="active">Rounded style</a>
              </li>
              <li>
                <a routerLink="/buttons/buttons-square" routerLinkActive="active">Square style</a>
              </li>
              <li>
                <a routerLink="/buttons/buttons-air" routerLinkActive="active">Air style</a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/buttons/button-icon" routerLinkActive="active">Button Icon</a>
          </li>
          <li>
            <a routerLink="/buttons/button-labeled" routerLinkActive="active">Labeled buttons</a>
          </li>
          <li>
            <a routerLink="/buttons/button-animated" routerLinkActive="active">Animated buttons</a>
          </li>
          <li>
            <a routerLink="/buttons/buttons-fab" routerLinkActive="active">FAB buttons</a>
          </li>
          <li>
            <a routerLink="/buttons/button-groups" routerLinkActive="active">Button Groups</a>
          </li>
          <li>
            <a routerLink="/buttons/button-dropdowns" routerLinkActive="active">Button dropdowns</a>
          </li>
          <li>
            <a routerLink="/buttons/buttons-social" routerLinkActive="active">Social Buttons</a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-layers-alt"></i>
          <span class="nav-label">Widgets</span>
          <i class="fa fa-angle-left arrow"></i>
        </a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
          <li>
            <a routerLink="/widgets/statistics" routerLinkActive="active">Statistics Widgets</a>
          </li>
          <li>
            <a routerLink="/widgets/list" routerLinkActive="active">App &amp; List Widgets</a>
          </li>
          <li>
            <a routerLink="/widgets/user" routerLinkActive="active">User Widgets</a>
          </li>
          <li>
            <a routerLink="/widgets/blog" routerLinkActive="active">Blog Widgets</a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-check-box"></i>
          <span class="nav-label">Forms</span>
          <i class="fa fa-angle-left arrow"></i>
        </a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
          <li routerLinkActive="active">
            <a href="href=&quot;javascript:;&quot;">
              <span class="nav-label">Form Controls</span>
              <i class="fa fa-angle-left arrow"></i>
            </a>
            <ul class="nav-3-level collapse" routerLinkActive="in">
              <li>
                <a routerLink="/forms/form-controls/inputs" routerLinkActive="active">Inputs</a>
              </li>
              <li>
                <a routerLink="/forms/form-controls/switch" routerLinkActive="active">Switch</a>
              </li>
              <li>
                <a routerLink="/forms/form-controls/checkbox-radio" routerLinkActive="active">Checkbox &amp; Radio</a>
              </li>
              <li>
                <a routerLink="/forms/form-controls/input-groups" routerLinkActive="active">Input Groups</a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/forms/form_layouts" routerLinkActive="active">Form Layouts</a>
          </li>
          <li>
            <a routerLink="/forms/form_advanced" routerLinkActive="active">Advanced Plugins</a>
          </li>
          <li>
            <a routerLink="/forms/form_masks" routerLinkActive="active">Form input masks</a>
          </li>
          <li>
            <a routerLink="/forms/form_validation" routerLinkActive="active">Form Validation</a>
          </li>
          <li>
            <a routerLink="/forms/text_editors" routerLinkActive="active">Text Editors</a>
          </li>
          <li>
            <a routerLink="/forms/autocomplete" routerLinkActive="active">Autocomplete</a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-layout-tab-window"></i>
          <span class="nav-label">Tables</span>
          <i class="fa fa-angle-left arrow"></i>
        </a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
          <li>
            <a routerLink="/tables/basic" routerLinkActive="active">Basic Tables</a>
          </li>
          <li>
            <a routerLink="/datatables" routerLinkActive="active">Datatables</a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-bar-chart"></i>
          <span class="nav-label">Charts</span>
          <i class="fa fa-angle-left arrow"></i>
        </a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
          <li>
            <a routerLink="/charts/chartjs" routerLinkActive="active">Chart.js</a>
          </li>
          <li>
            <a routerLink="/charts/charts_morris" routerLinkActive="active">Morris Charts</a>
          </li>
          <li>
            <a routerLink="/charts/charts_peity" routerLinkActive="active">Peity Charts</a>
          </li>
          <li>
            <a routerLink="/charts/charts_sparkline" routerLinkActive="active">Sparkline Charts</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/maps_vector" routerLinkActive="active">
          <i class="sidebar-item-icon ti-map-alt"></i>
          <span class="nav-label">Vector maps</span>
        </a>
      </li>
      <li>
        <a routerLink="/ui/icons" routerLinkActive="active">
          <i class="sidebar-item-icon ti-comments-smiley"></i>
          <span class="nav-label">Icons</span>
        </a>
      </li>
      <li class="heading">SEGURIDAD</li>
      <li>
        
        <a routerLink="/app/roles" routerLinkActive="active">
          <i class="sidebar-item-icon ti-layout-grid2"></i>
          <span class="nav-label">Roles</span>
        </a>

      </li>
      <li routerLinkActive="active">
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-pencil"></i>
          <span class="nav-label">Blog</span>
          <i class="fa fa-angle-left arrow"></i>
        </a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
          <li>
            <a routerLink="/blog/blog_list" routerLinkActive="active">List</a>
          </li>
          <li>
            <a routerLink="/blog/article" routerLinkActive="active">Article</a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-shopping-cart"></i>
          <span class="nav-label">E-Commerce</span>
          <i class="fa fa-angle-left arrow"></i>
        </a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
          <li>
            <a routerLink="/ecommerce/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li>
            <a routerLink="/ecommerce/products_list" routerLinkActive="active">Products list</a>
          </li>
          <li>
            <a routerLink="/ecommerce/add_product" routerLinkActive="active">Add new product</a>
          </li>
          <li>
            <a routerLink="/ecommerce/orders_list" routerLinkActive="active">Orders list</a>
          </li>
          <li>
            <a routerLink="/ecommerce/order_details" routerLinkActive="active">Order details</a>
          </li>
          <li>
            <a routerLink="/ecommerce/invoice" routerLinkActive="active">Invoice</a>
          </li>
          <li>
            <a routerLink="/ecommerce/customers" routerLinkActive="active">Customers</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/calendar" routerLinkActive="active">
          <i class="sidebar-item-icon ti-calendar"></i>
          <span class="nav-label">Calendar</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-files"></i>
          <span class="nav-label">General Pages</span>
          <i class="fa fa-angle-left arrow"></i>
        </a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
          <li>
            <a routerLink="/faq" routerLinkActive="active">FAQ</a>
          </li>
          <li>
            <a routerLink="/search" routerLinkActive="active">Search</a>
          </li>
          <li>
            <a routerLink="/timeline" routerLinkActive="active">Timeline</a>
          </li>
          <li>
            <a routerLink="/pricing-table-1" routerLinkActive="active">Pricing Table v1</a>
          </li>
          <li>
            <a routerLink="/pricing-table-2" routerLinkActive="active">Pricing Table v2</a>
          </li>
          <li>
            <a routerLink="/pricing-table-3" routerLinkActive="active">Pricing Table v3</a>
          </li>
          <li>
            <a routerLink="/pricing-table-4" routerLinkActive="active">Pricing Table v4</a>
          </li>
          <li>
            <a routerLink="/pricing-table-5" routerLinkActive="active">Pricing Table v5</a>
          </li>
          <li>
            <a routerLink="/pricing-table-6" routerLinkActive="active">Pricing Table v6</a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-user"></i>
          <span class="nav-label">Custom Pages</span>
          <i class="fa fa-angle-left arrow"></i>
        </a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
          <li>
            <a href="href=&quot;javascript:;&quot;">
              <span class="nav-label">User Pages</span>
              <i class="fa fa-angle-left arrow"></i>
            </a>
            <ul class="nav-3-level collapse" routerLinkActive="in">
              <li>
                <a routerLink="/profile" routerLinkActive="active">Profile</a>
              </li>
              <li>
                <a routerLink="/login" routerLinkActive="active">Login v1</a>
              </li>
              <li>
                <a routerLink="/login-2" routerLinkActive="active">Login v2</a>
              </li>
              <li>
                <a routerLink="/login-3" routerLinkActive="active">Login v3</a>
              </li>
              <li>
                <a routerLink="/login-4" routerLinkActive="active">Login v4</a>
              </li>
              <li>
                <a routerLink="/login-5" routerLinkActive="active">Login v5</a>
              </li>
              <li>
                <a routerLink="/lockscreen" routerLinkActive="active">Lockscreen</a>
              </li>
              <li>
                <a routerLink="/forgot_password" routerLinkActive="active">Forgot password</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="href=&quot;javascript:;&quot;">
              <span class="nav-label">Error Pages</span>
              <i class="fa fa-angle-left arrow"></i>
            </a>
            <ul class="nav-3-level collapse" routerLinkActive="in">
              <li>
                <a routerLink="/error_404" routerLinkActive="active">404 error</a>
              </li>
              <li>
                <a routerLink="/error_404-2" routerLinkActive="active">404 error v2</a>
              </li>
              <li>
                <a routerLink="/error_403" routerLinkActive="active">403 error</a>
              </li>
              <li>
                <a routerLink="/error_500" routerLinkActive="active">500 error</a>
              </li>
              <li>
                <a routerLink="/maintenance" routerLinkActive="active">Maintenance Mode</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-anchor"></i>
          <span class="nav-label">Menu Levels</span>
          <i class="fa fa-angle-left arrow"></i>
        </a>
        <ul class="nav-2-level collapse">
          <li>
            <a href="javascript:;">Level 2</a>
          </li>
          <li>
            <a href="href=&quot;javascript:;&quot;">
              <span class="nav-label">Level 2</span>
              <i class="fa fa-angle-left arrow"></i>
            </a>
            <ul class="nav-3-level collapse">
              <li>
                <a href="javascript:;">Level 3</a>
              </li>
              <li>
                <a href="javascript:;">Level 3</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="sidebar-footer">
      <a href="javascript:;">
        <i class="ti-announcement"></i>
      </a>
      <a routerLink="/calendar">
        <i class="ti-calendar"></i>
      </a>
      <a routerLink="/mailbox">
        <i class="ti-comments"></i>
      </a>
      <a (click)="logout()">
        <i class="ti-power-off"></i>
      </a>
    </div>
  </div>



</div>
