.ngx-datatable.bootstrap {
  box-shadow: none;
  font-size: 14px;
  border: 1px solid #ebe8e8;
  /* border:none;
  border-collapse: collapse; */
}
.ngx-datatable.bootstrap .datatable-header {
  height: unset !important;
  background: #ebedee; 
  font-weight: 600;

}
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
  vertical-align: bottom;
  padding: 0.75rem;
  border-right: 1px solid #ebe8e8;
  /* border-bottom: 0.80px solid  #d1d4d7;
  border-left: 0.80px solid #d1d4d7;
  border-right: 0.80px solid #d1d4d7; */
}
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
  line-height: 24px;
}
.ngx-datatable.bootstrap .datatable-body {
  /* */
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
  vertical-align: top; 
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
  /* background-color: rgba(0, 0, 0, 0.05); */
  border-top: 1px solid #ebe8e8;
  border-bottom: 1px solid #ebe8e8;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
  padding: 0.75rem; 
  text-align: left;
  vertical-align: top;
  /* border-left: 0.80px solid #d1d4d7; */
  border-right: 1px solid #ebe8e8;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
  background-color: #e5edf5;
  color: #000;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.ngx-datatable.bootstrap .datatable-footer {
  background: #ebedee;
  border-top: 1px solid #ebe8e8;
  color: black;
  /* margin-top: -1px; */
}

.ngx-datatable.bootstrap .datatable-footer .page-count {
  line-height: 50px;
  height: 50px;
  padding: 0 1.2rem;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager {
  margin: 0 10px;
  vertical-align: top;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li {
margin: 10px 0px;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  background-color: #5C6BC0;
  color: white;
  /* font-weight: bold; */
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  height: 22px;
  min-width: 24px;
  line-height: 22px;
  padding: 0;
  border-radius: 10px;
  margin: 0 3px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  vertical-align: bottom;
  color: #34495f;

}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-left,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-skip,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-right,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-prev {
font-size: 18px;
line-height: 27px;
padding: 0 3px;
color: #34495f;
src: local('glyphicon glyphicon-chevron-down');
}