
<div class="page-content fade-in-up" >
    <div class="col-md-8 offset-md-2">
        <div class="ibox ibox-body">

            <div class="ibox-head">
                <div class="ibox-title">{{l("Registrar nuevo profesor")}}</div>
            </div>

            <div #content>
                <form class="form-horizontal" #profesorForm="ngForm" method="post" novalidate (ngSubmit)="save(profesorForm)">
                    <div class="ibox-body">   

                        <div [ngClass]="(identificador.invalid && identificador.touched)?'col-sm-6 form-group has-error mb-4':'col-sm-6 form-group mb-4'">                        
                            <label>{{l("Identificador")}}<span class="text-danger"> *</span></label>
                                <span *ngIf = "identificador.invalid && identificador.touched" class="input-icon input-icon-right text-danger"></span>                                
                                <input 
                                    id="identificador" 
                                    class="form-control no-shadow" 
                                    type="text" 
                                    #identificador = "ngModel"
                                    [(ngModel)]="profesor.identificador" 
                                    name="Identificador" 
                                    required
                                    [disabled]="editando"
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Identificador"/>
                                    <app-input-validation [input]="identificador"></app-input-validation>
                        </div>

                        <div [ngClass]="(nombres.invalid && nombres.touched)?'col-sm-12 form-group has-error mb-4':'col-sm-12 form-group mb-4'">
                            <label>{{l("Nombre")}}<span class="text-danger"> *</span> </label>
                                <span *ngIf="nombres.invalid && nombres.touched" class="input-icon input-icon-right text-danger"></span>
                                <input 
                                    id="nombres" 
                                    class="form-control no-shadow" 
                                    type="text"
                                    #nombres = "ngModel" 
                                    [(ngModel)]="profesor.nombres" 
                                    name="Nombres" 
                                    required
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Nombres"/>
                                    <app-input-validation [input]="nombres"></app-input-validation>
                        </div>

                        <div [ngClass]="(primerApellido.invalid && primerApellido.touched)?'col-sm-12 form-group has-error mb-4':'col-sm-12 form-group mb-4'">
                            <label>{{l("Primer Apellido")}}<span class="text-danger"> *</span> </label>
                                <span *ngIf="primerApellido.invalid && primerApellido.touched" class="input-icon input-icon-right text-danger"></span>
                                <input 
                                    id="primerApellido" 
                                    class="form-control no-shadow" 
                                    type="text"
                                    #primerApellido = "ngModel" 
                                    [(ngModel)]="profesor.primerApellido" 
                                    name="PrimerApellido" 
                                    required
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Primer Apellido"/>
                                    <app-input-validation [input]="primerApellido"></app-input-validation>
                        </div>

                        <div [ngClass]="(segundoApellido.invalid && segundoApellido.touched)?'col-sm-12 form-group has-error mb-4':'col-sm-12 form-group mb-4'">
                            <label>{{l("Segundo Apellido")}}<span class="text-danger"> *</span> </label>
                                <span *ngIf="segundoApellido.invalid && segundoApellido.touched" class="input-icon input-icon-right text-danger"></span>
                                <input 
                                    id="segundoApellido" 
                                    class="form-control no-shadow" 
                                    type="text"
                                    #segundoApellido = "ngModel" 
                                    [(ngModel)]="profesor.segundoApellido" 
                                    name="PrimerApellido" 
                                    required
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Primer Apellido"/>
                                    <app-input-validation [input]="segundoApellido"></app-input-validation>
                        </div>

                        <div class= "col-sm-12 form-group mb-4">
                            <ngx-datatable
                                class="bootstrap"
                                [columnMode]="ngxDatatableHelper.columnMode"
                                [headerHeight]="ngxDatatableHelper.headerHeight"
                                [footerHeight]="0"
                                [rowHeight]="ngxDatatableHelper.rowHeight"
                                [rows]="profesor.listaGrupos" 
                                [selectionType]="ngxDatatableHelper.selectionType"
                                [selectAllRowsOnPage]="ngxDatatableHelper.selectAllRowsOnPage"
                                [reorderable]="ngxDatatableHelper.reorderable"
                                [messages]="ngxDatatableHelper.ngxDatatableMesagges">
                                
                                <ngx-datatable-column 
                                    [width]="10"
                                    name="Identificador" 
                                    prop="grupoIdentificador">
                                </ngx-datatable-column>
<!--                                             
                                <ngx-datatable-column 
                                    [width]="140"
                                    name="Materia" 
                                    prop="materiaNombre">
                                </ngx-datatable-column>
                     -->
                                <ngx-datatable-column  [width]="20" >
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <div class="text-center">
                                            <a class="text-light font-16" href="javascript:;"><i (click)="eliminarElementoLista(profesor.listaMaterias, row)" class="ti-trash"></i></a>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                        <div class="flexbox mb-4"><div class="flexbox"></div></div>
                        <div class="flexbox mb-4">
                            <div class="flexbox">
                            </div>
                            <div class="flexbox">                            
                                <a class="btn btn-primary btn-block"  (click)="agregarMetodoEvaluacion(emailForm)" href="javascript:;">
                                    <span class="btn-icon"><i class="la la-plus"></i>Agregar nuevo</span>
                                </a>
                            </div>
                        </div>


                        <div class="ibox-footer row">
                            <div class="col-sm-12 ml-sm-auto">
                                <button type="submit" class="btn btn-primary mr-2">{{l("Registrar")}}</button>
                                <button [disabled]="saving" [routerLink]="['../../profesor']" type="button" class="btn btn-secondary">{{l("Atras")}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Inicio modal de emails -->
<ng-template #emailForm let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h4 class="modal-title">SELECCION DE GRUPOS</h4>
        <button type = "button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true"> &times;</span>
        </button>
    </div>

    <form #formAgregarEmail="ngForm" (ngSubmit)="registrarMetodoEvaluacion()">
        <div class="modal-body">
            <div class="inbox">
                <div class="inbox-body">
                    <div [ngClass]="(materiaModel.invalid && materiaModel.touched)?' form-group mb-4 has-error ':' form-group mb-4'">
                        <label class="col-form-label">{{l("Grupo")}}<span class="text-danger"> *</span> </label>                            
                        <ng-select [items]="grupos"
                            name="gruposSelect"
                            bindLabel="identificador"
                            bindValue="id"
                            required
                            (change)="onGrupoChange($event)"
                            #materiaModel = "ngModel"
                            [(ngModel)]="profesorGrupo.grupoId">
                            <ng-template ng-option-tmp let-item="item">
                                {{item.identificador}} 
                            </ng-template>
                        </ng-select>
                        <app-input-validation [input]="materiaModel"></app-input-validation>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary ripple light" [disabled]="!formAgregarEmail.valid">Agregar</button>
            <button type="button" class="btn btn-inverse btn-outline-inverse ripple light" (click)="d('Cross click')">Cancelar</button>
        </div>

    </form>
</ng-template>
<!-- Fin modal de emails -->