<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <div class="flexbox mb-4">
                <div class="flexbox">
                    <h5 class="font-strong mb-4">LISTADO DE ROLES</h5>
                </div>
                <div class="flexbox">
                    <div class="input-group-icon input-group-icon-left mr-3">
                        <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                        <input #searchBox class="form-control form-control-rounded form-control-solid no-shadow" id="key-search" (input)="searchData(searchBox.value)" type="text" placeholder="Buscar...">
                    </div>
                    <button class="btn btn-primary btn-md btn-rounded btn-icon" (click)="createRole()" >
                        <span class="btn-icon">
                            <li class="la la-plus"></li>
                            Agregar nuevo
                        </span>
                    </button>
                </div>
            </div>

            <ngx-datatable
                class="bootstrap"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [selected]="selected"
                [rows]="roles" 
                [selectionType]="'checkbox'"
                [selectAllRowsOnPage]="false"
                [reorderable]="reorderable"
                [externalPaging]="true"
                [externalSorting]="true"
                [count]= "(filter==='')? totalItems: totalCount"
                [offset]="0"
                [limit]="pageSize"
                (sort)= 'onSort($event)'
                (page)='onPageChange($event)'
                (select)='onSelect($event)'>

                <ngx-datatable-column
                    [width]="50"
                    [sortable]="false"
                    [canAutoResize]="false"
                    [draggable]="false"
                    [resizeable]="false"
                    [headerCheckboxable]="true"
                    [checkboxable]="false">

                    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                        <label class="checkbox checkbox-primary">
                            <input 
                                type="checkbox"
                                [checked]="allRowsSelected"
                                (change)="selectFn(!allRowsSelected)"/>
                                <span class="input-span"></span>
                        </label>
                    </ng-template>

                    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                        <label class="checkbox checkbox-primary">
                            <input 
                                type="checkbox"
                                [checked]="isSelected"
                                (change)="onCheckboxChangeFn($event)"/>
                                <span class="input-span"></span>
                        </label>
                    </ng-template>
                </ngx-datatable-column>
            
                <ngx-datatable-column 
                    [headerClass]="'width-35'" 
                    [cellClass]="'width-35'" 
                    name="Nombre" 
                    prop="name">
                </ngx-datatable-column>
                
                <ngx-datatable-column 
                    [headerClass]="'width-35'" 
                    [cellClass]="'width-35'" 
                    name="Descripción" 
                    prop="displayName">
                </ngx-datatable-column>
                
                <ngx-datatable-column  [headerClass]="'width-10'" [cellClass]="'width-10'" >
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div class="text-center">
                            <a [routerLink] = "['edit-role', row.id]" class="text-light mr-3 font-16" href="javascript:;"><i class="ti-pencil"></i></a>
                            <a class="text-light font-16" href="javascript:;"><i (click)="delete(row)" class="ti-trash"></i></a>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

            <app-table-items-delete (onClickEvent)="deleteMultipleRoles()" [selectedCount]="selectedCount"></app-table-items-delete>
        </div>
    </div>
</div>