<div class="page-heading">
    <h1 class="page-title">Mantenimiento de roles</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:;" (click)="goBack()"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Seguridad</li>
        <li class="breadcrumb-item">Roles</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-4">LISTADO DE ROLES</h5>
            <div class="flexbox mb-4">
                <div class="flexbox"></div>
                <div class="flexbox">
                    <div class="input-group-icon input-group-icon-left mr-3">
                        <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                        <input #searchBox class="form-control form-control-rounded form-control-solid no-shadow" id="key-search" (input)="refreshData(searchBox.value)" type="text" placeholder="Buscar...">
                    </div>
                    <button class="btn btn-primary btn-md btn-rounded btn-icon" (click)="createRole()" >
                        <span class="btn-icon">
                            <li class="la la-plus"></li>
                            Agregar nuevo
                        </span>
                    </button>
                </div>
            </div>
            <!-- <table class="table table-bordered table-hover" id="orders-table">
                <thead class="thead-default thead-lg">
                    <tr>
                        <th>{{l('Nombre')}}</th>
                        <th>{{l('Descripción')}}</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                        <td>{{role.name}}</td>
                        <td>{{role.displayName}}</td>
                        <td>
                            <div class="text-center">
                                <a [routerLink] = "['edit-role', role.id]" class="text-light mr-3 font-16" href="javascript:;"><i class="ti-pencil"></i></a>
                                <a class="text-light font-16" href="javascript:;"><i (click)="delete(role)" class="ti-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center" *ngIf="(totalCount >= pageSize) || (pageSize >= totalCount && searchBox.value === '')">
                <pagination-controls
                    (pageChange)="getDataPage($event)" 
                    id="server"
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                    class="paginationStyles"
                    autoHide="true">
                </pagination-controls>
            </div> -->

            <ngx-datatable
                class="bootstrap"
                [columnMode]="'force'"
                [headerHeight]="50"
                [rowHeight]="'auto'"
                [selected]="selected"
                [rows]="roles"
                [externalPaging]="true"
                [count]="totalItems"
                [offset]="pageSize"
                [limit]="pageSize"
                (page)='getDataPage($event)'
                >

                <!-- <ngx-datatable-column 
                    [width]="30" 
                    [sortable]="false" 
                    [canAutoResize]="false" 
                    [draggable]="false" 
                    [resizeable]="false"> -->

                    <ngx-datatable-column >
                        <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                            <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                            <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                            
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- </ngx-datatable-column> -->

                <ngx-datatable-column name="Nombre" prop="name"></ngx-datatable-column>
                <ngx-datatable-column name="Descripción" prop="displayName"></ngx-datatable-column>
                
                <ngx-datatable-column [width]="10" name="id" >
                    <ng-template let-column="column" ngx-datatable-header-template>
                        Actions
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <a [routerLink] = "['edit-role', row.id]" class="text-light mr-3 font-16" href="javascript:;"><i class="ti-pencil"></i></a>
                        <a class="text-light font-16" href="javascript:;"><i (click)="delete(row)" class="ti-trash"></i></a>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                    <ng-template
                        ngx-datatable-footer-template
                        let-rowCount="totalItems"
                        let-pageSize="pageSize"
                        let-curPage="pageNumber"
                        let-offset="pageSize">
                        <div style="padding: 5px 10px">
                        <div>
                            <strong>Summary</strong>: Gender: Female
                        </div>
                        <hr style="width:100%" />
                        <div>
                            Rows: {{totalCount}} |
                            Size: {{pageSize}} |
                            Current: {{pageNumber}} |
                            Offset: {{pageSize}}
                        </div>
                        </div>
                    </ng-template>
                    <datatable-pager
                        [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'"
                        [page]="pageNumber"
                        [size]="pageSize"
                        [count]="totalItems"
                        [hidden]="false"
                        (change)="getDataPage($event)">
                    </datatable-pager>
                </ngx-datatable-footer>
                    
          </ngx-datatable>

         

        </div>
    </div>
</div>

<!-- <app-create-role-modal #createRoleModal (modalSave)="refresh()"></app-create-role-modal> -->
<!-- <app-edit-role-modal #editRoleModal (modalSave)="refresh()"></app-edit-role-modal> -->