<div class="page-heading">
    <h1 class="page-title">Mantenimiento de roles</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:;" (click)="goBack()"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Seguridad</li>
        <li class="breadcrumb-item">Roles</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-4">LISTADO DE ROLES</h5>
            <div class="flexbox mb-4">
                <div class="flexbox"></div>
                <div class="flexbox">
                    <div class="input-group-icon input-group-icon-left mr-3">
                        <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
                    </div>
                    <button class="btn btn-primary btn-sm btn-rounded btn-icon" (click)="createRole()" >
                        <span class="btn-icon">
                            <li class="la la-plus"></li>
                            Agregar nuevo
                        </span>
                    </button>
                </div>
            </div>
            <table class="table table-bordered table-hover" id="orders-table">
                <thead class="thead-default thead-lg">
                    <tr>
                        <th>{{l('Nombre')}}</th>
                        <th>{{l('Descripción')}}</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                        <td>{{role.name}}</td>
                        <td>{{role.displayName}}</td>
                        <td>
                            <div class="text-center">
                                <a class="text-light mr-3 font-16" href="javascript:;" (click)="editRole(role)"><i class="ti-pencil"></i></a>
                                <a class="text-light font-16" href="javascript:;"><i (click)="delete(role)" class="ti-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <pagination-controls
                    (pageChange)="getDataPage($event)" 
                    id="server"
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                    class="paginationStyles"
                    autoHide="true">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>

<!-- <app-create-role-modal #createRoleModal (modalSave)="refresh()"></app-create-role-modal> -->
<!-- <app-edit-role-modal #editRoleModal (modalSave)="refresh()"></app-edit-role-modal> -->