
<!-- Detalle de familiars -->
<div class="ibox-body">
    <form class="form-horizontal" id="form-sample-1" method="post" novalidate="novalidate">

        <ngx-datatable
            class="bootstrap"
            [columnMode]="ngxDatatableHelper.columnMode"
            [headerHeight]="ngxDatatableHelper.headerHeight"
            [footerHeight]="0"
            [rowHeight]="ngxDatatableHelper.rowHeight"
            [rows]="familiares" 
            [selectionType]="ngxDatatableHelper.selectionType"
            [selectAllRowsOnPage]="ngxDatatableHelper.selectAllRowsOnPage"
            [reorderable]="ngxDatatableHelper.reorderable"
            [messages]="ngxDatatableHelper.ngxDatatableMesagges">
            
            <ngx-datatable-column 
                [width]="20"
                name="Identificador" 
                prop="identificador">
            </ngx-datatable-column>
            
            <ngx-datatable-column 
                [width]="20"
                name="Nombre completo" 
                prop="nombreCompleto">
            </ngx-datatable-column>

            <ngx-datatable-column 
                [width]="10"
                name="Parentesco" 
                prop="parentescoNombre">
            </ngx-datatable-column>

            <ngx-datatable-column  [width]="20" >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="text-center">
                        <a class="text-light mr-3 font-16" href="javascript:;"><i (click)="editarFamiliar(row, familiarForm)" class="ti-pencil"></i></a>
                        <a class="text-light font-16" href="javascript:;"><i (click)="eliminarElementoLista(familiares, row)" class="ti-trash"></i></a>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
        <div class="flexbox mb-4"><div class="flexbox"></div></div>
        <div class="flexbox mb-4">
            <div class="flexbox">
            </div>
            <div class="flexbox">                            
                <a class="btn btn-primary btn-block"  (click)="agregarFamiliar(familiarForm)" href="javascript:;">
                    <span class="btn-icon"><i class="la la-plus"></i>Agregar nuevo</span>
                </a>
            </div>
        </div>
    </form>
</div>
<!-- Fin de detalle de familiar -->

<!-- Inicio modal de familiars -->
<ng-template #familiarForm let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h4 class="modal-title">NUEVO FAMILIAR</h4>
        <button type = "button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true"> &times;</span>
        </button>
    </div>

    <form #formAgregarFamiliar="ngForm" (ngSubmit)="registrarFamiliares()">
        <div class="modal-body">
            <div class="inbox">
                <div class="inbox-body">
                    <div [ngClass]="(identificador.invalid && identificador.touched)?' form-group mb-4 has-error ':' form-group mb-4'">                        
                            <label class="col-form-label">{{l("Identificador")}}<span class="text-danger"> *</span></label>
                            <span *ngIf = "identificador.invalid && identificador.touched" class="input-icon input-icon-right text-danger"></span>                                
                            <input 
                                id="identificador" 
                                class="form-control no-shadow" 
                                type="text" 
                                #identificador="ngModel"
                                [(ngModel)]="elementoLista.identificador" 
                                name="Identificador" 
                                required
                                minlength="2" 
                                maxlength="32" 
                                placeholder="Identificador"/>
                            <app-input-validation [input]="identificador"></app-input-validation>
                        </div>

                        <div [ngClass]="(nombres.invalid && nombres.touched)?' form-group mb-4 has-error ':' form-group mb-4'">
                            <label class="col-form-label">{{l("Nombres")}}<span class="text-danger"> *</span> </label>
                            <span *ngIf="nombres.invalid && nombres.touched" class="input-icon input-icon-right text-danger"></span>
                            <input 
                                id="nombres" 
                                class="form-control no-shadow" 
                                type="text"
                                #nombres = "ngModel" 
                                [(ngModel)]="elementoLista.nombres" 
                                name="Nombres" 
                                required
                                minlength="2" 
                                maxlength="32" 
                                placeholder="Nombres"/>
                            <app-input-validation [input]="nombres"></app-input-validation>
                        </div>

                        <div class="row"> 
                            <div [ngClass]="(primerApellido.invalid && primerApellido.touched)?'col-sm-6 form-group has-error mb-4':'col-sm-6 form-group mb-4'">                        
                                <label class="col-form-label">{{l("Primer apellido")}}<span class="text-danger"> *</span></label>
                                <span *ngIf = "primerApellido.invalid && primerApellido.touched" class="input-icon input-icon-right text-danger"></span>                                
                                <input 
                                    id="primerApellido" 
                                    class="form-control no-shadow" 
                                    type="text" 
                                    #primerApellido = "ngModel"
                                    [(ngModel)]="elementoLista.primerApellido" 
                                    name="PrimerApellido" 
                                    required
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Primer apellido"/>
                                <app-input-validation [input]="primerApellido"></app-input-validation>
                                </div>

                            <div [ngClass]="(segundoApellido.invalid && segundoApellido.touched)?'col-sm-6 form-group mb-4 has-error ':'col-sm-6 form-group mb-4'">                        
                                <label class="col-form-label" for="segundoapellido">{{l("Segundo apellido")}}<span class="text-danger"> *</span></label>            
                                <span *ngIf = "(segundoApellido.invalid && segundoApellido.touched)" class="input-icon input-icon-right text-danger"></span>                                
                                <input 
                                    id="segundoapellido"
                                    class="form-control no-shadow" 
                                    type="text" 
                                    #segundoApellido = "ngModel"
                                    [(ngModel)]="elementoLista.segundoApellido" 
                                    name="SegundoApellido" 
                                    required
                                    minlength="2" 
                                    maxlength="32" 
                                    placeholder="Segundo apellido"/>
                                <app-input-validation [input]="segundoApellido"></app-input-validation>

                            </div>
                        </div>

                        <app-input-date
                            tittle="Fecha de nacimiento"
                            [date]="elementoLista.fechaNacimiento"
                            (change)="elementoLista.fechaNacimiento=$event">
                        </app-input-date>                            

                        <!-- <div class="inbox-body">
                            <div class="form-group" id="date_1">
                                <div [ngClass]="(!validDate)?'form-group has-error mb-4':'form-group mb-4'">
                                <label class="col-form-label">Fecha de nacimiento</label>
                                <div (click)="date.toggle()" class="input-group-icon input-group-icon-left">
                                    <span style="cursor:pointer" class="input-icon input-icon-left"><i class="fa fa-calendar"></i></span>
                                    
                                    <input class="form-control no-shadow" placeholder="dd/mm/yyyy" name="datePicker" maxlength="10" [container]="container"
                                    [(ngModel)]="elementoLista.fechaNacimiento" [autocomplete]="true" ngbDatepicker #date="ngbDatepicker"
                                    >
                                </div>
                                </div>
                            </div>
                        </div>
                             -->


                        <div [ngClass]="(nacionalidad.invalid && nacionalidad.touched)?' form-group mb-4 has-error ':' form-group mb-4'">
                            <label class="col-form-label">{{l("Nacionalidad")}}<span class="text-danger"> *</span> </label>                            
                            <ng-select [items]="nacionalidades"
                                name="nacionalidadSelect"
                                bindLabel="descripcion"
                                bindValue="id"
                                required
                                #nacionalidad = "ngModel"
                                [(ngModel)]="elementoLista.nacionalidadId">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.descripcion}} <br />
                                    <small class="text-muted">{{item.identificador}}</small>
                                </ng-template>
                            </ng-select>
                            <app-input-validation [input]="nacionalidad"></app-input-validation>
                        </div>

                        <div [ngClass]="(parentesco.invalid && parentesco.touched)?' form-group mb-4 has-error ':' form-group mb-4'">
                            <label class="col-form-label">{{l("Parentesco")}}<span class="text-danger"> *</span> </label>                            
                            <ng-select [items]="parentescos"
                                name="parentescoSelect"
                                bindLabel="descripcion"
                                bindValue="id"
                                required
                                #parentesco = "ngModel"
                                (change)="onParentescoChange($event)"
                                [(ngModel)]="elementoLista.parentescoId">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.descripcion}}
                                </ng-template>
                            </ng-select>
                            <app-input-validation [input]="parentesco"></app-input-validation>
                        </div>
    
                        <div [ngClass]="(profesion.invalid && profesion.touched)?' form-group mb-4 has-error ':' form-group mb-4'">
                                <label class="col-form-label">{{l("Profesión")}}<span class="text-danger"> *</span> </label>                            
                                <ng-select [items]="profesiones"
                                    name="profesionSelect"
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    required
                                    #profesion = "ngModel"
                                    [(ngModel)]="elementoLista.profesionId">
                                    <ng-template ng-option-tmp let-item="item">
                                        {{item.descripcion}}
                                    </ng-template>
                                </ng-select>
                                <app-input-validation [input]="profesion"></app-input-validation>
                        </div>
    
                        <div [ngClass]="(nombres.invalid && nombres.touched)?' form-group mb-4 has-error ':' form-group mb-4'">
                            <label class="col-form-label">{{l("Sexo")}}<span class="text-danger"> *</span> </label>                            
                            <ng-select 
                                [(ngModel)]="elementoLista.sexo" 
                                name= "sexoSelect" 
                                #sexoModel = "ngModel" 
                                required>
                                <ng-option *ngFor="let sex of sexo" [value]="sex.value">{{sex.name}}</ng-option>
                            </ng-select>
                            <app-input-validation [input]="sexoModel"></app-input-validation>
                        </div>

                        <div [ngClass]="(nombres.invalid && nombres.touched)?' form-group mb-4 has-error ':' form-group mb-4'">
                            <label class="col-form-label">{{l("Estado civil")}}<span class="text-danger"> *</span> </label>                            
                            <ng-select 
                                [(ngModel)]="elementoLista.estadoCivil" 
                                name= "estadoCivilSelect" 
                                #estadoCivilModel = "ngModel" 
                                required>
                                <ng-option *ngFor="let estado of estadoCivil" [value]="estado.value">{{estado.name}}</ng-option>
                            </ng-select>
                            <app-input-validation [input]="estadoCivilModel"></app-input-validation>
                        </div>

                        <!-- Inicio componente telefonos -->
                        <app-telefono-estudiante [telefonos]="telefonosFamiliar"></app-telefono-estudiante>
                        <!-- Fin componente telefonos -->

                        <!-- Inicio componente emails -->
                        <app-email-estudiante [emails]="emailsFamiliar"></app-email-estudiante>
                        <!-- Fin componente emails -->

                        <!-- Inicio componente direcciones -->
                        <app-direccion-estudiante [direcciones]="direccionesFamiliar"></app-direccion-estudiante>
                        <!-- Fin componente direcciones -->

                </div>
            </div>
        </div>
<pre>{{elementoLista | json}}</pre>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary ripple light" [disabled]="!formAgregarFamiliar.valid">Agregar</button>
            <button type="button" class="btn btn-inverse btn-outline-inverse ripple light" (click)="d('Cross click')">Cancelar</button>
        </div>

    </form>
</ng-template>
<!-- Fin modal de familiars -->